            body{
                font-family: 'Open Sans', sans-serif;
                /* background-color:#1abc77; */
            }
            
            .notes {
                list-style-type: none;
                padding: 0;
                width: 17%;
                background-color: whitesmoke;
                position: fixed;
                height: 92%;
                overflow: auto;
            }

            .content{
                margin-left: 17%;
                margin-top: 3.7%;
                height: 92%;
            }
            
            li a{
                display: block;
                color: #000;
                padding: 90px 50px;
                text-decoration: none;
                text-align: center;
            } 
            
            /* .contacts{
                max-height: 50px;
                max-width: 50px;
            } */
            
            li p{
                text-align: center;
            }
            
            li a.active{
                background-color: rgb(230, 230, 230);
                color: black;
            }
            
            li a:hover:not(.active){
                background-color: #666;
                color: white;
            }
            /* div{
                padding: 1px 1px;
            } */
            
            /* div.containered{
                position: relative;
                top: 30px;
            }
            
            h1, h2 {
                font-family: 'Permanent Marker', cursive;
                text-align: center;
            } */
            
            /* p#dane{
                text-align: justify;
                position: relative;
                left: 15%;
                color: #000;
            }
            
            div#mapa{
                width: 500px;
                height:300px;
                position: relative;
                left: 45%;
                bottom: 330px;
            }
            
            .frame{
                border-color: #000;
                border-style: solid;
                border-width: 3px;
                border-radius: 30px;
                top: 25px;
                left: 25px;
                margin: 5px;
                padding: 5px;
                width: 30%;
                overflow: auto;
                float: left;
                position: relative;
            }
            
            input[type="submit"], input[type="reset"]{
                background-color: #4CAF50; /* Green */
                /* border: solid 1px;
                border-radius: 15px;
                color: white;
                padding: 5px 10px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                position: relative;
                top: 5px;
            }
            
            
            
            span#inputs{
                position: relative;
            }
            
            span#message{
                position: relative;
                left: 30px;
                bottom: 144px;   
            }
            
            fieldset{
                width: 430px;
                height: 200px;
            }
            
            textarea{
                position: relative;
                left: 160px;
                bottom: 146px;
                width: 250px;
                height: 105px;
            }
            
            input[type="text"]{
                width: 135px;
            }
            
            p{
                text-align: justify;
            } */
           
			